.image {
  /* height: 170px; */
  /* margin: 10px; */
  text-align: center;
}
.image img {
  /* border: 1px solid; */
  width: 110px;
}
.temp,
.location,
.country {
  margin-top: 5px;
  font-size: 20px;
  color: #e9f9f1;
  text-align: center;
}
.location {
  font-size: 40px;
  font-weight: 800;
}
.temp {
  font-weight: 700;
  font-size: 22px;
}
.cordinates {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  color: #e9f9f1;
  /* background-color: #e9f9f1; */
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  backdrop-filter: blur(10px); /* Blurring effect */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* color: #E9F9F1; */
  /* background-color: #03878F; */
  padding: 10px 0;
  margin-top: 10px;
}
.cordinates div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cordinates div span {
  font-size: 15px;
}
.windspeed,
.humidity-percentage,
.cordinates div span:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
}
.icon {
  height: 35px;
  width: 20px;
  font-size: 25px;
  color: #E9F3F1;

}
.humiicon {
  font-size: 35px;
  color: #E9F3F1;
}
.data-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.element {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;
}


.data {
  /* border: 1px solid; */
  /* text-align: right; */
  display: flex;
  flex-direction: column;
  color:#E9F3F1
}
