@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right bottom,#03878F,#04141b);

  /* background-color: #27868c; */

  /* background:linear-gradient(90deg,#27868c,#47b8c3); */
  /* background-color: #E9F3F1; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
}